body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-image: url('Pirate.gif');
    background-size: repeat;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-shadow: 3px 3px #000;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
    text-align: center;
    font-family: 'Pirata One', cursive;
}

h2 {
    font-size: 2.3rem;
    margin-top: 0rem;
    text-align: left;
}

h3 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
}

p {
    margin-bottom: 0rem;
    font-size: 1.2rem;
}

li {
    font-size: 1.2rem;
}

header {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    border: 3px solid #7b2437;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

nav {
    padding: 1rem; 
    border-radius: 15px; 
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none; 
    margin: 0.5rem; 
    display: inline-block; 
    padding: 0.5rem 1rem; 
    border: 2px solid #7b2437; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #7b2437; 
}

main {
    padding: 2rem;
    max-width: 800px; 
    margin: 2rem auto; 
    border: 3px solid #7b2437; 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px; 
}

footer {
    padding: 2rem; 
    max-width: 800px; 
    margin: 0 auto; 
    border: 3px solid #7b2437;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px; 
    text-align: left; 
    color: #fff; 
    font-size: 1rem; 
}

section {
    margin-bottom: 1rem; 
}

a {
    color: #ffffff;
    text-decoration: underline wavy white; 
}

a:hover {
    color: #fff; 
}

code {
    max-width: 100%; 
    word-wrap: break-word; 
    font-size: 1rem;
}

@media (max-width: 600px) {
   h1 {
       font-size: 2rem; 
       text-align:center; 
   }

   h2 {
       font-size: 1.5rem; 
       text-align:left; 
   }

   h3 {
    font-size: 1rem; 
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
}

   h4 {
    font-size: 1rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
}

   p  {
    font-size: 0.9rem;
   }

   li {
    font-size: 0.9rem;
}

   header, footer {
       padding: 1rem; 
       border-width: 3px;
   }

   nav {
    margin-top: 0rem;
    font-size: 0.9rem;
    padding: 1rem; 
    border-radius: 15px; 
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none; 
    margin: 0.5rem; 
    display: inline-block; 
    padding: 0.5rem 1rem; 
    border: 2px solid #7b2437; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #7b2437; 
}
   
   code {
       font-size: 0.8rem; 
   }
}
