body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


h1, h2 {
    color: #222;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

p {
    margin-bottom: 1rem;
}

p2 {
    font-style: italic;
    font-family: "Garamond", serif;
}


header, main, footer {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}


section {
    margin-bottom: 1rem;
}


a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: #000;
}


footer {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
}


code {
    max-width: 100%;
    word-wrap: break-word;
}


@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header, main, footer {
        padding: 1rem;
    }

    nav a {
        margin-right: 0.5rem;
    }
    code {
        font-size: 0.8rem;
      }
}
